body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url(/static/img/dark-bg.png);
}

.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 14px;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  
}
.form-signin .btn {
  margin-top:17px;
}