<h1 class="page-header">代理中心</h1>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>我的钱包</h4>
    <span class="text-muted">查看你的收益...</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>新店开单</h4>
    <span class="text-muted">创建新店...</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>配货开单</h4>
    <span class="text-muted">创建新配货单。。。</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>结款开单</h4>
    <span class="text-muted">收益结款...</span>
  </div>
</div>

<h2 class="sub-header">店铺信息</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>地址</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>abc</td>
        <td>www.taobao.com</td>
        <td>运营中</td>
      </tr>
      <tr>
        <td>2</td>
        <td>efg</td>
        <td>www.jd.com</td>
        <td>运营中</td>
      </tr>
    </tbody>
  </table>
</div>