$def with (content)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Stella">
    <title>管理系统</title>
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/static/css/dashboard.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/static/img/site_icon.png">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">主页</a></li>
            <li><a href="#">站内信</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="/logout">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
$if context.admin == True:
    <li class="active"><a href="#">系统中心</a></li>
$else:
    <li class="active"><a href="#">代理中心</a></li>
</ul>
$if context.admin == True:
    <ul class="nav nav-sidebar">
    <li><a href="/signup">用户管理</a></li>
    </ul>
    <ul class="nav nav-sidebar">
    <li><a href="#">审核订单</a></li>
    <li><a href="#">店铺管理</a></li>
    </ul>
$else:
    <ul class="nav nav-sidebar">
    <li><a href="#">我的钱包</a></li>
    <li><a href="#">店铺管理</a></li>
    <li><a href="#">配货中心</a></li>
    <li><a href="#">结款单管理</a></li>
    </ul>

</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
$:content
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>


</body>

</html>