$def with (msg="")
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <div class="container">
	  <form class="form-signin" role="form" action="/signin" method=POST>
        <a href="/" style="margin-left:20px"><img alt="Logo-small-big" class="bg" src="/static/img/logo-small-big.png" style="height:101px;" /></a>
        <br/>
        <br/>
        <input name="username" type="text" class="form-control" placeholder="Email" required autofocus>
        <br/>
        <input name="password" type="password" class="form-control" placeholder="Password" >
        <!--
        <label class="checkbox">
          <input id="rememberme" type="checkbox" value="remember-me"> 记住我
        </label>
        -->
        <p style="color:white">$:msg</p>
        <button class="btn btn-medium btn-success btn-block" type="submit">LOG IN</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>